<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @list.name %>
    </p>
  </div>
  <div class="extra content">
  <ul>
  <% @list.artists.each do |artist| %>
    <li><%= link_to artist.name, [@list, artist] %></li>
  <% end %>
</ul>
     
    <%= link_to 'Back', lists_path %>
  </div>
</div>
